<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.FF"
        >
        <activity
            android:name=".RetroAchievementActivity"
            android:exported="false" />

        <provider
            android:name=".provider.MyContentProvider"
            android:authorities="com.learning.ad.ff.provider.MyContentProvider"
            android:enabled="true"
            android:exported="true" />

        <service
            android:name=".service.RemoteService"
            android:enabled="true"
            android:exported="true"
            android:process=":my_process" />
        <service
            android:name=".service.BoundService"
            android:enabled="true"
            android:exported="false" />

        <receiver
            android:name=".receiver.MyReceiver"
            android:enabled="true"
            android:exported="false" />

        <activity
            android:name=".WebViewActivity"
            android:exported="true">
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="https" />
                <data android:host="github.com" />
                <data android:host="youtube.com" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SecondActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:supportsPictureInPicture="true"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation"
            android:exported="true">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
    </application>

</manifest>